extends ../layouts/master

block content
    .col-md-6.col-md-offset-3(style='margin-top:50px;text-align:center;')
        h2 企业介绍
        br
        p 游蜗 利用科技减少人们在计划旅行时锁好的时间， 像专车一样， 让有闲散时间的当地人，发挥对当地环境熟悉的优势，给客户带去独特的旅行体验。另外，我们跟传统旅行社合作，在保证客户传统经典线路价格优势的同时，帮助旅行社开拓并承办目的地旅游中的“最后一公里”。