extends ../layouts/dashboard

block dashboard
    h2 更改密码
    br
    form#changepassword(action='/changepassword' method='POST')
        .form-horizontal
            .form-group
                label.col-sm-offset-2.col-sm-2.control-label(for='currentpassword') 当前密码
                .col-sm-6
                    input#currentpassword.form-control(type='password' name='currentpassword' placeholder='当前密码')
            .form-group
                label.col-sm-offset-2.col-sm-2.control-label(for='newpassword') 新密码
                .col-sm-6
                    input#newpassword.form-control(type='password' name='newpassword' placeholder='新密码')
            .form-group
                label.col-sm-offset-2.col-sm-2.control-label(for='confirmpassword') 确认密码
                .col-sm-6
                    input#confirmpassword.form-control(type='password' name='confirmpassword' placeholder='确认密码')
            .form-group
                .col-sm-offset-3.col-sm-7.text-right
                    button.btn.btn-primary#submit(type='submit') 更改密码
            .col-sm-offset-3.col-sm-7.text-center
                #message.text-primary= changePasswordMessage
    script.
        $(function () {
            $('#changepassword').validate({
                rules: {
                    currentpassword: {
                        required: true
                    },
                    newpassword: {
                        required: true,
                        minlength: 6
                    },
                    confirmpassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#newpassword"
                    }
                },
                messages: {
                    currentpassword: {
                        required: '输入您的行程的名字。'
                    },
                    newpassword: {
                        required: '输入您的行程的名字。',
                        minlength: '你的名字是太短了。'
                    },
                    confirmpassword: {
                        required: '请输入您的地址。',
                        minlength: '您的地址是太短了。',
                        equalTo: ''
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        });