extends ../layouts/dashboard

block dashboard
    .row
        .col-md-6.col-md-offset-3
            .panel.panel-default
                .panel-heading
                    h3 行程争议
                .panel-body
                    p 恭喜您，您的争议发送成功
                    p 我们将会尽快处理您的争议，同时将会在短时间内跟您联系。
                    .pull-right
                        button.btn.btn-default(type='button') 返回
    .row
        .col-md-6.col-md-offset-3
            .panel.panel-default
                .panel-heading
                    h3 行程争议
                .panel-body
                    p 抱歉，您的争议发送失败
                    p 请您尽快跟客服人员联系。
                    .pull-right
                        button.btn.btn-default(type='button') 返回