extends ../layouts/master

block content
    .container-fluid
        .col-md-3.col-md-offset-3
            h3.page-header 联系我们
            p 杭州游蜗科技有限公司
            p “游蜗” "UWO TRIP"
            p 我们提供7/24 的咨询服务
            p
                | 微信公众号
                br
                |  扫描二维码关注
            br
            a.btn.btn-info(style='width: 100%;' href='/feedback') 提交反馈
        .col-md-3
            h4.page-header 商务合作联系
            p
                | 邮箱：
                a(href='mailto:tian@myuwotrip.com?Subject=你好', target='_top') tian@myuwotrip.com
                br
                | 微信：eric6900
            h4.page-header 人事
            p
                | 邮箱：
                a(href='mailto:hr@myuwotrip.com?Subject=你好', target='_top') hr@myuwotrip.com
            h4.page-header 美国地区 客服
            p
                | 邮箱：
                a(href='mailto:frank@myuwotrip.com?Subject=你好', target='_top') frank@myuwotrip.com
            | QQ：654836171
            h4.page-header 中国地区 客服
            p
                | 邮箱：
                a(href='mailto:junjie@myuwotrip.com?Subject=你好', target='_top') junjie@myuwotrip.com
            | QQ：359637662
