extends ../layouts/master

block content
    .container-fluid
        .col-md-6.col-md-offset-3
            h3.page-header 免责声明
            ol
                li
                    | 游蜗是一个给出境自由行游客安排向导地接的旅游网站。我们不承担出境旅行遇到的以下风险给游客带来的伤害责任：包括交通意外、战争、自然灾害、罢工、抢劫、疾病、绑架等。请大家在出境旅行之前购买相关保险，保护自己的生命财产安全。
                li
                    | 在游蜗发表内容即表示您同意遵守此准则及其他游蜗政策。对于违反此准则或服务条款的内容，我们保留全部或部分删除内容的权利，同时保留出于其他任何原因全部或部分删除内容的权利。 多次或严重违规的帐号可能会被我们暂停或取消。部分账户可能会由系统自动处理。同时您可以联系向我们举报违反服务条款或内容准则的内容。
                li
                    | 游蜗是一个基于彼此信任的交流平台，对于行程中的双方请自觉遵守当地法律，如果行程中发生某些状况让任何一方感觉到危险与不安，均有权立即终止行程，并及时向游蜗反馈提供相关凭证。情节严重时请立即求助当地警方，游蜗将提供相关信息配合警方调查，责任方ID也将被深究。游蜗对以上情形进行的裁定将为最终决定。
                li
                    | 在本服务条款中，“本服务公开使用区域”系指一般公众可以浏览的区域。用户同意已就用户于本服务公开使用区域及本服务其他任何公开使用区域张贴之内容，授予游蜗免许可费、永久有效、不可撤销、非独家及可完全再授权之权利。此外, 游蜗保留改编、复制或翻译所有由用户提交的材料的权利。任何经由本服务以上载、张贴、发送电子邮件或任何其他方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息或其他资料（以下简称“内容”），无论是公开还是私下传送，均由内容提供者承担责任。游蜗不会对任何错误或遗漏负责。游蜗无法保证其它用户身份的真实性，也无法保证用户所提供有关个人资料的真实性。
                li
                    | 您了解并同意游蜗网上来自于第三方网站的链接，系由游蜗根据您的搜索需求而提供，您可能从该第三方网页上获得资讯及享用服务，游蜗对其合法性概不负责，亦不承担任何法律责任。游蜗无法控制交易所涉及的旅游产品和服务的质量、安全或合法性，旅游产品或服务信息的真实性或准确性，以及交易各方履行其在交易协议中各项义务的能力。您应自行谨慎判断确定相关服务及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失，除非游蜗另有明确规定。若您预订的旅游产品中出现任何瑕疵，您应联系该旅游产品的旅游服务提供商。游蜗将尽力帮助您获取真实可靠的信息，同时也需要您及时反馈在使用中遇到的问题并对欺诈行为进行举报，以提高游蜗的网络信息服务质量。
                li
                    | 您完全理解并同意，鉴于游蜗以非人工检索方式、根据您键入的关键字或点击特定的旅游产品或服务关键字自动生成第三方的网页链接或相关的产品信息描述，例如价格、库存等，上述非人工检索方式，因缓存时间间隔或检索方式非完全智能等原因，有可能造成信息更新不及时或产品服务信息聚合、抽取不精准等瑕疵，您完全理解并豁免上述产品或服务瑕疵给您造成的不便，游蜗不承担任何责任。
                li
                    | 游蜗不保证为了向您提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由游蜗实际控制的任何网页上的内容，游蜗不承担任何责任。为方便您的使用，游蜗基于第三方网站提供的过往价格的可信赖程度而进行的评级、推荐或风险提示仅供您参考，游蜗不担保该等评级、推荐或风险提示的准确性和完整性，对推荐的网站的内容及服务亦不承担任何责任。
                li
                    | 尽管游蜗为方便您使用，会根据收到的反馈信息在相关链接下作出提示，但游蜗无义务审查游蜗上所列出的搜索结果和链接中所含的旅游产品或服务的信息的真实、准确性，包括不限于机票价格是否包含任何税务信息、机场建设费、保险、政府收费、或行李托运费等机票本身以外的费用，您应根据预定网站的规定和说明自行判断。
                li
                    | 您了解并理解，任何经由本服务发布的图形、图片或个人言论等，均表示了内容提供者、服务使用者个人的观点、观念和思想，并不代表游蜗的观点或主张，对于在享受网络服务的过程中可能会接触到令人不快、不适当等内容的，由您个人自行加以判断并承担所有风险，游蜗不承担任何责任。
                li
                    | 请您及时保存或备份您的交易信息、文字、图片等其他信息，您完全理解并同意，由于游蜗储存设备有限、设备故障、设备更新或设备受到攻击等设备原因或人为原因，您使用网路服务储存的信息或数据等全部或部分发生删除、毁损、灭失或无法恢复的风险，均由您须自行承担，游蜗不承担任何责任。
                li
                    | 不论在何种情况下，游蜗均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，黑客，电脑病毒，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令，第三方原因等其他游蜗不能预测或控制的行为而造成的不能服务或延迟服务承担责任，但将尽力减少因此而给您造成的损失和影响。
                li 任何网站如果不想被游蜗收录，应该及时向服务网站或游蜗反映，否则，游蜗将视其为可收录网站。
                li
                    | 任何单位或个人认为通过游蜗的内容可能涉嫌侵犯其合法权益，应该及时向游蜗或服务网站书面反馈，并提供身份证明、权属证明及详细侵权情况证明，游蜗在收到上述法律文件后，将会尽快移除被控侵权内容。
                li
                    | 在游蜗发布的旅程是安全、规范、合法的基础上，游客需要为自己在行程发生过程中的个人人身安全和财产安全负责，旅程中出现的人身伤害或财产损失与向导和游蜗平台无关。
                li 15.旅程当中发生过程中涉及的餐饮消费，必须在有当地卫生许可证的餐馆中发生，如果把游客带到不安全、不卫生的环境用餐，发生用餐食物中毒，责任由向导承担。
                li
                    | 旅程当中如果涉及其他第三方的商品或者体验的购买，此第三方商品或者体验必须安全、合法，参与过程中需要由此第三方保证参与的向导和游客的安全。如向导违反前述要求给游客带来任何损害或损失，由向导承担相关责任，与游蜗无关。对于部分旅程，向导取得的收入，向导应当自行依据对其具有管辖权的税收法律申报并缴纳相应税款，游蜗不具有任何代扣代缴或代为申报的义务。
                li
                    | 向导所带旅程如果是在他人的房屋财产内发生，必须得到业主的许可，旅程才能发生。如果向导在特定国家和地区当“向导”需要申请特殊的执照，请一定在取得执照之后再开始做游客的接受预约。如果向导所在国家和地区要求游玩人数超过一定数量后需要向当地公共安全部门申领许可证，向导需要在得到许可之后再开始旅程。
                li  游蜗作为网络平台方仅提供相关信息及咨询，与向导和游客不存在任何雇佣关系或委托关系。
    br
    br
    br
    br
    br