extends ../layouts/master

block content
    .container-fluid
        .col-md-6.col-md-offset-3
            h3.page-header 一般问题
            ol
                li
                    strong 游蜗的 “游蜗” 是什么意思？
                    br
                    |  游蜗代表着享受着自由行程，安排自己的行程，自己决定要去哪里就哪里！
                li
                    strong 为什么我要使用游蜗平台？
                    br
                    |  成为游蜗平台的向导将可以通过平台赚取额外的收入，认识新朋友，获得更多的创业机会，从行程中获得更多的乐趣。如果是学生，更能在行程中获得社会实践的经验。
                li
                    strong 平台上有任何广告吗？
                    br
                    |  暂时来说我们是不会带有任何第三方的广告。这样可以让旅行者有着更好的体验。
                li
                    strong 你们的平台政策是什么？
                    br
                    |  你可以到我们网站上查看用户协议，免责声明，隐私协议，和退款政策。
                li
                    strong 行程的评价系统是怎么运作的？
                    br
                    |  在每个行程结束后，旅行者可以有机会对向导做出评价。
                li
                    strong 成为平台的向导是否需要遵守一些基础的规则？
                    br
                    |  是的， 你可以通过向导培训视频去了解更多这些规则。
                li
                    strong 向导可以成为旅行者吗？
                    br
                    |  完全没问题。向导也成为平台的旅行者购买我们平台的服务。
                li
                    strong 如果旅行中出现旅行者需要向向导支付费用怎么办？
                    br
                    |  旅行者需要给向导支付任何合理的额外费用，旅行者将会使用线下现金支付。
                li
                    strong 关于开车向导的车保险，或者个人的保险？
                    br
                    |  暂时来说，我们不提供个人保险的购买。我们非常推荐旅行者在行程前购买旅行意外险。 如果开车向导的保险只有第三者保险，是不容许的。 向导需要推荐旅行者去租车，然后在租车服务里添加乘客险来保障乘客的安全。
                li
                    strong  旅行者是否可以带一个当地的朋友加入到行程里？
                    br
                    |  如果向导同意不用支付额外费用是可以的。一般情况下，每一个加入行程的人是算作一个旅行者，需要支付费用。
                li
                    strong 退款需要多久时间？
                    br
                    |  退款会在7天内完成。
                li
                    strong 游蜗 平台现在支持什么类型的支付方式?
                    br
                    |  现在只能使用支付宝一种支付方式。
                li
                    strong 我怎么注册成为游蜗的向导？
                    br
                    |  进入官方页面->填写申请资料->耐心等待审核和完善资料->观看培训视频/手册->完成测试题->成为网站向导
                li
                    strong 向导怎么时候可以提现？
                    br
                    |  提现并没有最低限制，向导可以在任何时候提现。向导选取提现后，提现将会在一周内打到向导的绑定在网站上的支付宝账户里。
                li
                    strong 行程长度是否有限制？
                    br
                    |  只要向导同意，最大长度没有限制。
                li
                    strong 如果行程中发生了意外，是一个怎么样的流程处理？
                    br
                    |  向导和旅行者协商解决。
                li
                    strong 如果我丢失了行程单，行程是否有记录？
                    br
                    |  是的，你可以在我们网站上查看行程单。
                li
                    strong 如果发生向导没法回答的问题，向导应该怎么做？
                    br
                    |  向导应该回答不知道，千万不要对旅行者撒谎。 诚实的态度可以让我们网站有一个更好的印象。
                    br
                    |  同时你可以请旅行者查看网站上的问题与回答。
                li
                    strong 向导是怎么收款的？
                    br
                    |  现在我们只使用支付宝。如果你是在美国外面同时又没有支付宝账户，我们可以把款项发送到你指定的账户里。但是向导需要支付中间产生的服务费。
                li
                    strong 我可以拿到一份向导手册吗？
                    br
                    |  你可以在网站上查看到向导手册。
                li
                    strong 我可以把游蜗的资料发给朋友或者亲戚吗？
                    br
                    |  没问题，你还可以邀请他们进来加入游蜗。
                li
                    strong 游蜗会对向导做培训吗？
                    br
                    |  所有向导需要完成培训视频和通过一个考试后才可以成为游蜗平台的向导。
                li
                    strong 在加入游蜗平台前 需要有执照吗？
                    br
                    |  在美国，大部分州是不需要向导持有执照的。加州最近通过的法案提到向导不是必须需要向导执照。如果你有执照，你可以把他放到网站上你的主页里， 这样能吸引到更多旅行者。
                li
                    strong 如果我不会双语怎么办？
                    br
                    |  没关系，如果你在行程前准备足够的调查， 也是可以带领中国的旅行者在当地旅行。
                li
                    strong 公司可以加入游蜗 平台吗？
                    br
                    |  暂时我们不支持公司加入我们公司， 但是以后我们公司得到发展后将会考虑。
                li
                    strong 向导们可以一起执行一次旅行吗?比如两个向导分别带领旅行者去两个不同的州，在之间切换。
                    br
                    |  我们暂时提供这样的服务。如果可以的话，你可以咨询旅行者的意见，如果他们同意，你将可以这么做。 但是我们平台并不推荐这种做法，因为其中一个向导并没有在我们平台上注册。
                li
                    strong 如何进行身份认证？
                    br
                    |  联系客服进行身份认证。
                li
                    strong 如何在“游蜗”平台发布路线？
                    br
                    |  我们暂时不支持发布，我们将会在下一个更新里进行更新。
                li
                    strong 在“游蜗”发布服务收费吗？
                    br
                    |  “游蜗“是一个完全免费的平台。
                li
                    strong 我做当地向导的时间可能不固定，或者最近没空是否可以申请呢？
                    br
                    |  可以，因为每天都有人选择出境游，很多旅行者是提前,2个月和我们进行预定，所以只要你对旅行感兴趣，“游蜗”欢迎你的加入。
                li
                    strong 对当地向导的要求，对语言是否有要求?
                    br
                    |  服务的对象都是中国人，语言不做硬性要求规定，可以达到基本生活对话交流即可。需要对你所在的城市熟悉，可以带旅行者深入体验当地文化。
                li
                    strong 来该国家或地区的旅行者数量多不多?
                    br
                    |  因为出境自由行人数井喷式增长，且已超过跟团游比例。“游蜗”因此需要更多的当地留学生向导，来带领国内的出境旅行者深入体验当地文化与民情。
                li
                    strong 接待旅行者前，我应注意什么？
                    br
                    |  请为旅行者预留你的时间，网上查好见面地点和路线，保证与景点或者路线与旅行者之前提供的一致；如果需要用到卫星导航，提前输入地址。
                li
                    strong 我如何确认是否为“游蜗”的旅行者？
                    br
                    |  你可以要求旅行者出示“游蜗”订单号或“游蜗”账号名、服务通知短信及订单中所留的服务人姓名、手机号码即可确认旅行者身份。
                li
                    strong 如果旅行者到达时，我的时间有其他安排了，可否安排旅行者给其他人服务？
                    br
                    |  不可以。你需要为旅行者预留其预订的指定时间，否则将视为你违约。
                li
                    strong 如果旅行者与我协商，要求退款怎么办？
                    br
                    |  为维护平台交易秩序，保护各方权益，请你与“游蜗”携手坚决遵守平台规则。“游蜗”会根据交易规则计算违约订金及结算款额并按时支付与你。
                li
                    strong  旅行者在服务前要求取消订单如何处理？
                    br
                    |  “游蜗”将根据平台交易规则执行。在“全额退款日”之前取消，全额退还旅行者在线支付的订金；
                    br
                    |  “全额退款日”之内取消，将旅行者相应的违约扣款的订金扣除平台技术服务费后支付与你。
                li
                    strong 到达服务时间后，旅行者要求取消服务如何处理？
                    br
                    |  按照“游蜗”的订单退改规则，到达服务时间后，旅行者将不能取消订单，在服务时间后的一周内，我们将旅行者相应的订金扣除平台技术服务费后支付给你。
                    br
                li
                    strong 服务时间旅行者未到并且无法联系到旅行者，如何处理？
                    br
                    |  请你第一时间联系“游蜗”客服人员，我们会全力帮你联系旅行者，解决问题。
                li
                    strong 服务时旅行者提出额外要求如何处理？
                    br
                    |  建议双方友好协商解决达成共识，如有必要可以联系“游蜗”客服人员介入协商。
                    br
    br
    br
    br
    br
    br