extends ../layouts/master

block content
    .container-fluid
        .col-md-6.col-xs-offset-3
            h3.page-header 游蜗培训内容（游蜗平台向导使用手册）
            h4 企业介绍
            p
                | 游蜗 利用科技减少人们在计划旅行时锁好的时间， 像专车一样， 让有闲散时间的当地人，发挥对当地环境熟悉的优势， 给客户带去独特的旅行体验。另外，我们跟传统旅行社合作，在保证客户传统经典线路价格优势的同时，帮助旅行社开拓并承办目的地旅游中的“最后一公里”。
            |       平台上两种服务形式
            p
            ol
                li
                    | 平台的共同景点：所在地区的向导必须知道这些景点和可以带旅行者到这些景点游玩。同时可以帮助旅行者的需求设计出一条合适的路线，尽量很好的利用他们的时间。
                li
                    | 向导发布的设计好的特色路线。这里指的路线可以包含任何事件，地点，大学的课程，和服务等。使用我们的好处： 你可以合理安排你的空闲时间，接待到访的旅行者 赚取额外的报酬。同时你可以结识新的朋友。从旅行中体验各种乐趣。
            h4 网站操作
            |  1.网站服务
            p
            |       游蜗服务类型分为 分徒步，带车 2种服务。
            p
            |       租车旅行者而又需要向导开车的请使用徒步服务。
            p
            |       租车旅行者不需要向导开车的请使用徒步服务。
            p
            p 收费标准
            |       打包的路线在每座城市我们设置了统一的服务费和服务标准。
            p
            |       发布的自定义路线可以设置自己想要的价格和服务标准
            p
            |       在每座城市，我们给向导设置了统一的标准服务费
            p
            p 游蜗统一服务费
            |       徒步服务（8小时）
            p
            |       10　美元/小时
            p
            |       价格限制2位旅行者
            p
            |       额外旅行者需要支付10美元/小时
            p
            |       该费用不含向导交通费、餐费
            p
            |       带车服务(8小时）
            p
            |       20　美元/小时
            p
            |       价格限制2位旅行者
            p
            |       额外旅行者需要支付10美元/小时
            p
            |       不含运输费用，停车费、过路费、餐费
            p
            |       关于老人和儿童的费用
            p
            |       老人和儿童按成人计算
            p
            |       在接待过程中老人和儿童按成人计算
            p
            p 其他费用（线下现金支付）
            |       长途开车
            p
            |       一般带车向导服务费用进紧限制在所在市区内正常旅行，如果旅行者去的地方比较远，向导可以要求增加一部分长途费用，具体金额双方协商。
            p
            |       用餐费用
            p
            |       旅行者需要支付向导的餐费，可以按照当地一餐麦当劳价格作为餐补。我们建议旅行者邀请向导共同午餐，方便选择餐厅与点餐。如果旅程超过了当地时间下午5点，行程还未结束，旅行者需要负责向导的晚餐。
            p
            |       门票费用
            p
            |       如果旅行者想要向导跟随一同进去需要门票的景点，旅行者需要支付向导门票费用。
            p
            |       住宿补贴
            p
            |       如果在行程过程中，向导需要住宿，旅行者需要支付向导的住宿费用。
            p
            |       关于停车费和过路费
            p
            |       在行程中，带车向导的费用里是不包含停车费。旅行者需要为向导支付停车费。向导需要与旅行者商讨是否要走收费道路。如果旅行者没有同意，途中产生的过路费需有向导负责。如果旅行者想要走收费道路，旅行者需要支付过路费。
            p
            |       超时费用
            p
            |       旅行者需要负责向导的超时费用
            p
            |       向导每日行程原则上不超过8小时，约定之外超时我们建议旅行者和向导协商，我们建议的超时费用是按照 当日支付总额时薪×1.5倍计算。
            p
            p 2.注册成为“游蜗”向导
            |       填写申请资料->耐心等待审核和完善资料->观看培训视频/手册->完成测试题->成为网站向导
            p
            |       注册成为“游蜗”向导是免费的。所有申请成为向导前，都必须在网站上注册一个普通账户，以方便我们帮你升级为向导账户。
            p
            |       请在首页右上角点击“成为向导”然后填入相关资料和联系方式。请务必在填写你的个人资料时，内容尽可能的详细完善。我们将会短时间内与你联系。
            p
            |       3.网站一般设置
            p
            p 如果发布你自己的路线，你可以设置旅行者的出行人数，向导服务费，是否带车，退款政策等。
            |       向导如果要提现需要先绑定支付宝。
            p
            |       更多设置请到网站上探索， 如有任何问题请联系客服。我们很乐意帮助你们。
            p
            |       4.订单
            p
            p 旅行者选好需要去的景点->选择向导->双方联系->你与旅行者沟通和排好路线->列出相关费用->发送账单->旅行者确认与支付定金
            |       旅行者发送需求后，将会通知向导。这时向导需要和旅行者沟通联系。一起设计出一条合适的路线，同时列出相关费用等。然后向旅行者发送账单。只有在与旅行者完全沟通好后才给旅行者发送账单。一切得到旅行者同意后，旅行者支付定金，向导将会收到旅行者支付定金的通知。向导页可以在订单页面里查看支付情况。向导和旅行者将会在旅行者支付剩余金额后得到双方的联系方式，在这之前请使用网站的聊天工具。请在行程前48小时或者在更早的时间告知旅行者支付全款，不然旅行者将不能拿回定金。行程结束后你可以在账户里查看你的服务费。
            p
            |       行程变更与取消订单操作。
            p
            |       如果向导想取消订单，请在用户界面里的订单选项里选择取消订单。取消的订单将会根据退订规则处理。
            p
            p 5.退订规则
            |       服务信息发布方可以注册时选择服务退订规则，作为服务订单内解决此类纠纷的证据。
            p
            |       最严厉退款政策（请小心选择）：
            p
            |       如果7天之前，退还全额定金。
            p
            p
            p 7天之内取消行程，不可退还定金。
            |       严厉退款政策:
            p
            |       如果5天之前，退还全额定金。
            p
            |       5天之内取消行程，不可退还定金。
            p
            |       中等退款政策:
            p
            |       如果72小时之前，退还全额定金。
            p
            |       72小时之内取消行程，不可退还定金。
            p
            |       宽松退款政策:
            p
            |       如果48小时之前，退还全额定金。
            p
            |       48小时之内取消行程，不可退还定金。
            p
            p 5.网站沟通
            |       时常查看留言和跟旅行者沟通，如果不想接受订单需求，请及时与旅行者联系。当你接受到来自旅行者的问候和询问时，请积极主动的给旅行者一个热情的回复。
            p
            |       确保发送账单前和旅行者详细沟通过， 如果是没有沟通就发送的订单， 请与旅行者联系不要支付和取消账单。
            p
            |       在沟通时，请先和旅行者先沟通下日期，人数，行程安排， 是否需要用车等情况。确保自己是合适的向导后在开始发送账单。
            p
            |       发送账单后，请让旅行者确认账单的日期，人数，行程安排是否自己需要的。在进行付款。
            p
            |       信任与安全：
            p
            |       在旅行者支付全额之前， 请务必于旅行者在平台沟通， 不要透露自己的邮箱，微信，QQ，和电话。如果旅行者主动透露，建议请不要添加，避免私人联系方式被人恶意使用。
            p
            |       若双方发生任何纠纷和争执，网站上备份的记录可以当成争议的证据。
            p
            |       旅行者支付全额款项后，将可以查看双方彼此的联系方式。
            p
            p 5.与旅行者之间线路设计流程
            |       向导跟旅行者沟通后，将会和旅行者一起设计出一条合适的线路。这里提供路线设计流程的参考。
            p
            |       协助旅行者路线设计：在旅行者选取几个景点，填取完一些基础选项后，需求表将会发送给向导。向导需要协助旅行者完成订单，向导排列出每日的行程和先后顺序，系统会自动计算出总时间，包括景点之间的路程时间和每个景点的停留时间。向导可以添加一些行程中会出现的费用等,例如代买门票等，最后系统会算出总费用。向导将会把完成的订单发回给旅行者确认和支付。预定单一特色景点也是一样的步骤。
            p
            p 旅行者接待流程
            p 1.迎接旅行者的准备
            |       一旦有了预订服务，你就应该开始为接待旅行者做一应俱全的准备，用你的专业友善的服务态度来完成规划好与旅行者的行程。你的努力将会给旅行者带来美好的回忆和留下深刻的印象。
            p
            p 2.没有驾驶车辆的向导
            |       到达指定见面地点后，电话或者微信旅行者，告知旅行者你已经到达见面地点并在那里等候旅行者。见到旅行者后给旅行者一个热情的问候，然后开始行程。
            p
            |       向导行程开始后首先介绍下当天的大概行程。然后到达景点后带旅行者游览景点。
            p
            |       旅程结束后，与旅行者挥手说再见。并提示感谢你选择游蜗，欢迎你下次光临，并要求旅行者当场完成服务的评价。
            p
            |       租车流程
            p
            |       向导与旅行者见面->坐公共交通带旅行者去最近租车公司->租车公司办理手续->向导坐副驾
            p
            p 3.开车的向导
            |       租车：
            p
            |       “游蜗”平台为了保障双方的安全，不建议没有全保的向导使用自己的汽车。旅行者如果需要汽车，向导可以带旅行者去最近的租车公司去租车。在租车公司租车可以购买到额度大保险，双方都可以得到合适的人身保障。
            p
            |       过程如下：
            p
            |       向导与旅行者见面->开车带旅行者去最近租车公司->租车公司办理手续->向导车泊附近安全地方->向导开车/旅行者开车
            p
            |       租车向导注意事项：
            p
            |       旅行者需要向导开车的话，需要在租车公司添加自己名字（部分公司会产生费用）。
            p
            |       租车途中产生的费用，例如租车费，油费，门票，罚单等均由旅行者支付。
            p
            |       租车时如把手机当GPS，记得带上充电宝等充电工具，防止途中与客服失去联系。
            p
            |       要求旅行者带上安全带。
            p
            |       汽车返还时，提醒旅行者带好随身物品。
            p
            |       旅程结束后，向导告知旅行者今天的旅程完美结束。向导需要提示旅行者下车后，带好随身物品，并感谢旅行者选择游蜗，欢迎旅行者下次光临，并当场完成服务评价，同时从后备箱中提取行李箱交给旅行者。
            p
            p
            p 行程建议
            |       1.旅行者对向导的评分标准如下
            p
            |       1.准时到达（5分满分）
            p
            |       向导是否准时或者提前到达会面地点。景点到达时间是否和预测时间相近。
            p
            |       2.待人态度（5分满分）
            p
            |       向导的待人态度是否友好和耐心，是否尽量满足旅行者要求。
            p
            |       3.行程安排（5分满分）
            p
            |       行程安排的是否流畅。
            p
            |       （*因“游蜗”平台的低廉费用的要求，对专业度要求不高，故不列在这里，希望向导尽力做到最好。）
            p
            p 2.以下是一些取得高评价的建议
            |       1. 准时是很重要的。迟到将会有低评分。提前15分钟到达旅行者预订的地点。如果出现或将要出现迟到的情况，需要提前和旅行者沟通并解释清楚原因。
            p
            |       2.行走一条短线路，而不是绕圈子。你的旅行者将会很高兴。
            p
            |       最好在行程前做点调查，这样可以找到一条很好的行走/驾驶线路。
            p
            |       3.保持车辆干净和着装整齐
            p
            |       这里并不要求穿着的庄重，但是起码穿一套整洁的衣服。
            p
            |       对于开车的向导难闻的气味，会使旅行者难受。
            p
            |       这包括你喷的香水或者车载香水，没有气味是不错的选择。
            p
            p 4.安全
            |       一趟安全的旅行，将会是一次很好的体验。
            p
            |       带车的向导，请在接待旅行者前检查你的车没有问题。
            p
            |       旅行者上车后提醒他们扣上安全带。有损伤的汽车是不容许的。
            p
            |       你要带上必要的证件， 例如驾照，车辆登记，保险。以上3样必须是有效的和没有过期的。
            p
            |       最重要是请遵守所有交通规则
            p
            |       徒步的向导，请尽量带旅行者走一些安全的地带和路线。
            p
            |       徒步的向导有义务提醒旅行者要遵守当地交通规则，应该走在行人道上和不要横穿马路。
            p
            |       5.舒适度
            p
            |       当旅行者感受到舒适，他们可能会给你一个高分评价。
            p
            |       防止刹车太紧和加速太快。这样都是一些不好的体验。
            p
            p 6.尊重与礼仪
            |       在行程中保持一个良好的态度，礼貌的语调和足够的耐心。
            p
            |       与旅行者争议将不会是一个好的主意。这样会获得一个不好的评价。向导应该尽量帮助旅行者解决发生的问题。
            p
            |       向导有义务提醒旅行者应当尊重当地风俗习惯。帮助旅行者更好的了解当地风土人情。
            p
            |       7.一些细节将可以让你提高评分
            p
            |       例如提供一条额外的充电线，提供瓶装水，帮助旅行者开门，放行李等。
            p
            |       3.收入预计
            p
            |       “游蜗”平台的建议徒步价格为10美元/小时，开车价格为20美元/小时，单次最少起订时间为4小时。超时为1.5倍/小时。为了让平台更好的发展，平台强烈建议不要超出建议价格的30%上下。谢谢大家的配合。
            p
            |       收入分配：
            p
            |       “游蜗”平台是一个免费的平台，不收取任何中间费用。
            p
            |       收款流程
            p
            |       完成旅行后->旅行者点击发布评价->向导收到款项
            p
            |       提现
            p
            |       可以在你的网站钱包里查看自己的余额。
            p
            |       提现流程
            p
            |       向导收到款项->绑定支付宝->输入提取金额->一周内将会收款到款项
            p
            |       服务奖励：暂无
            p
            |       培训地点：视频培训
            p
            p 联系方式
            p
            p 杭州游蜗科技有限公司
            |       旗下网站“游蜗”
            p
            p
            p 客服1：小飞
            |       微信号：16265511043
            p
            |       电话：1626-551-1043
            p
