extends ../layouts/master

block content
    .container-fluid
        .col-md-6.col-md-offset-3
            h3.page-header 「游蜗旅行」操作者入门指南
            ol
                li
                    | 如果您希望您的客户在海外享受到与众不同的景点与路线，而您们公司又没有经验丰富的人员，充足的时间和额外的资金去开发这些景点。那就来尝试「游蜗旅行」平台的价格最优，最便利，返利高的向导供应服务吧！这不仅能使您轻松给客户安排一段独特的旅行体验，也能让您赚取额外的利润，让您们公司在旅行业里更突出，吸引更多人。。
                hr
                li
                    | 「游蜗旅行」平台上提供了大量景点供您选择，您可以按照自己的需求去定制自己公司的景点路线。我们将帮您安排这些景点的向导服务，您只需在平台上轻松点击即可。平台上提供各种便利的工具将会让您更省心省力。平台不但会自动编排出最优的路线供您参考，还提供强大的定制路线规划工具来方便您安排当天的行程。您还可以通过热门城市选择您的旅行目的地，选取目的地的景点、特色路线或经典线路等，让您的客户享受与众不同的特色之旅。
                hr
            h4
                strong 线路规划
            ol
                li
                    | 您可以添加想要的景点到“我的景点”或者已有的路线里。点击我的路线，即可看到您所有的景点，您可以通过路线规划工具来添加这些景点到您的路线里。添加完后，输入出发地点，点击完成，系统将会自动编排出一条最优的路线供您参考。您可以直接使用这条路线，也可以对条路线上根据您的需求做改动。您这些路线可以保存后下次再做编辑。可以同时创建几条相近或者不同的路线再一起进行支付。
            h4
                strong 预定服务
            ol
                li
                    | 安排好路线后，您可以把想要预定的路线加入购物车。然后一并进行支付定金。支付完成后，系统将会给您生成一张日程表方便您在购买后安排您客人的行程。就是这么简单，「游蜗旅行」平台帮助您轻松预订您想要的旅行景点！支付完定金后，「游蜗旅行」会谨慎处理您的付款，并以邮件形式告知您此次服务的详细信息。从预订到付款，「游蜗旅行」全程保障每个环节的便捷和安全！
            h4
                strong  开启旅行
            ol
                li
                    | 在确定行程后，把剩余的款项支付。就算真正的完成预定。您就可以开始安排您的客户到指定的景点了。「游蜗旅行」平台会帮您安排向导到指定景点等着您们的到来。「游蜗旅行」的向导会带您的客户体验一次愉快的旅行，并对此回味无穷！
            h4
                strong 常见问题与解答
            h4 查找服务和向导
            ol
                li
                    | 如何能快速找到需要的景点和向导？
                    | 您可以先找到目的地城市，然后根据您喜欢的景点进行筛选，从而查找到您想要去的景点。在我们网站上也有很方便的工具，您可以把景点可以加入我的景点里。当您需要查看时进入列表里查看即可，编辑成路线后即可加入到购物车里。
                li
                    | 怎样才知道心仪的景点在我需要的日期是否可购买？
                    | 所有景点都是可以购买的，我们会分配当天有时间的向导给您的客户。
                li 我与向导沟通完后，我必须预定要预定这个向导吗？这不是强制性的。我们后台会根据您的时间来安排向导。但是会优先推荐跟您沟通过的向导。
            h4 支付购买
            ol
                li
                    | 支付流程是怎样的？
                    | 您在选择满足自己需求的景点后，可以在我们平台支付定金。然后在服务前72小时（3天前）内请支付剩余金额。在服务完成后，您在平台上确认完成旅程即可，之后我们会将服务款项支付给向导。如果3天内没有任何投诉，款项会自动支付给向导。
                li
                    | 行程中其他费用如何支付？
                    | 行程中所产生的额外费用，我们的向导只负责支付自己的费用。其余费用需要您的客户支付。
                li
                    | 可以用什么方式支付购买？
                    | 我们的付款方式有支付宝和PAYPAL。
                li
                    | 如果我没有网银或支付宝等网上支付方式怎么办？
                    | 跟客服进行联系，然后可通过已有银行卡号支付。
                li
                    | 如果购买服务可以提供发票吗？
                    | “游蜗旅行”是一个第三方平台，因此无法向您提供发票。
            h4 取消订单
            ol
                li
                    | 如何取消订单？
                    | 请在 “游蜗旅行”用户界面里订单选择取消订单。 “取消”订单后，“游蜗旅行”将根据订单退改规则在3天内退还相应金额的款项。
                li
                    | 订单退改规则是怎样的？
                    | 服务信息发布方可以注册时选择服务退订规则，作为服务订单内解决此类纠纷的证据。
                li
                    | 申请退款后，订金通过何种方式退款给我？
                    | “游蜗旅行”将根据退改规则给你退款，将订金余额根据您支付时所使用的支付方式退还给您。
                li
                    | 我何时能收到退款？
                    | “游蜗旅行”将于您取消服务的3个工作日内，将扣除违约金外的订金余额原路退回至您的支付账户，款项具体到账时间依第三方（如支付宝、银行卡）的处理时间为准。
            h4 服务相关
            ol
                li
                    | 行前需要做什么准备？
                    | 预定服务后，如果需要行前准备，我们的向导将会跟您沟通。
                li
                    | 通过“游蜗旅行”预订海外向导服务后我还可以在预订中延长服务时间吗？
                    | 可以，但具体要看向导的时间。建议您与向导沟通，如果他有时间同意继续接待您，请您与向导进行协商，然后进行现金支付。如果您直接向向导申请而产生服务价格的上涨或直接支付现金给向导出现纠纷，“游蜗旅行”不负任何责任。请注意：延长服务不保证向导一定有时间，延长服务价格也可能有变，具体以向导最终确认为准。
                li
                    | 如果我想更改服务时间怎么办？
                    | 请与“游蜗旅行”客服联系进行更改，建议您及时与客服进行充分沟通，是否可以为您另行安排。
            h4 向导违约
            ol
                li
                    | 向导临时有事、无法联系到向导、向导私下涨价讨小费，我该怎么办？
                    | 这些行为均属于向导违约行为，请您及时与“游蜗旅行”客服联系。客服会在第一时间核实情况和进行调查处理。
                li
                    | 向导提供的服务与描述不符如何处理？
                    | 在服务过程中您如果发现服务与描述不符的情况，请您及时与“游蜗旅行”客服联系。我们会在第一时间核实情况。
                li
                    | 向导个人习惯很差如何处理？
                    | 在服务过程中如出现向导个人素质差影响对您的服务，建议您及时同向导沟通解决。如有必要请及时与“游蜗旅行”客服取得联系，我们会在第一时间介入调解，为您解决问题。
            h4 特殊情况处理
            ol
                li
                    | 巴士晚点了怎么办？
                    | 若知道巴士会迟到或者已经迟到，请及时通知向导或者我们公司。旅程会减少相应的时间。
                li
                    | 航班，巴士意外取消了怎么办？
                    | 若发生航班、巴士等意外取消的特殊情况，请首先联系向导告知情况并取消订单；确因不可抗力造成的航班，巴士等取消情况，我们将对扣除定金后退还余款。
    br
    br
    br
    br
    br