extends ../layouts/master

block content
    .container-fluid
        .col-md-8.col-md-offset-2
            h3.page-header 游蜗统一服务费
            h4 徒步服务（8小时）
            ul
                li 10　美元/小时
                li 价格限制2位旅行者
                li 额外旅行者需要支付10美元/小时
                li 该费用不含向导交通费、餐费
            h3 带车服务(8小时）
            ul
                li 20　美元/小时
                li 价格限制2位旅行者
                li 额外旅行者需要支付10美元/小时
                li 不含运输费用，停车费、过路费、餐费
                li 关于老人和儿童的费用
                li 老人和儿童按成人计算
                li 在接待过程中老人和儿童按成人计算
            h3 其他费用（线下现金支付）
            h3 长途开车
            p 一般带车向导服务费用进紧限制在所在市区内正常旅行，如果旅行者去的地方比较远，向导可以要求增加一部分长途费用，具体金额双方协商。
            h4 用餐费用
            p
                | 旅行者需要支付向导的餐费，可以按照当地一餐麦当劳价格作为餐补。我们建议旅行者邀请向导共同午餐，方便选择餐厅与点餐。如果旅程超过了当地时间下午5点，行程还未结束，旅行者需要负责向导的晚餐。
            h4 门票费用
            p 如果旅行者想要向导跟随一同进去需要门票的景点，旅行者需要支付向导门票费用。
            h4 住宿补贴
            p 如果在行程过程中，向导需要住宿，旅行者需要支付向导的住宿费用。
            h4 关于停车费和过路费
            p
                | 在行程中，带车向导的费用里是不包含停车费。旅行者需要为向导支付停车费。向导需要与旅行者商讨是否要走收费道路。如果旅行者没有同意，途中产生的过路费需有向导负责。如果旅行者想要走收费道路，旅行者需要支付过路费。
            h4 超时费用
            p 旅行者需要负责向导的超时费用
            p 向导每日行程原则上不超过8小时，约定之外超时我们建议旅行者和向导协商，我们建议的超时费用是按照 当日支付总额时薪×1.5倍计算。
    br
    br
    br
    br
    br
    br