extends ../layouts/master

block content
    .container-fluid
        .col-md-6.col-md-offset-3
            h3.page-header 隐私政策
            p
                | 游蜗非常重视对您个人隐私的保护，请您仔细阅读如下声明。当您访问游蜗网站或使用游蜗的服务前，您需要同意隐私政策中具体解释的收集、使用、公布和以其它形式运用您个人信息的政策。如果您不同意隐私政策中的任何内容，请立即停止使用或访问游蜗网站。
            p
                | 为了给您提供更准确、更有针对性的服务，游蜗可能会以如下方式，使用您提交的个人信息，但游蜗会以高度的勤勉义务对待这些信息。
            ol
                li
                    h4 收集信息范围
                    p
                        | 游蜗会在您自愿选择服务或提供信息的情况下收集您的个人信息（简称“个人信息”），例如您的姓名、邮件地址、电话号码、订单信息、交易记录及其他身份信息等。我们有可能会保留一些用户的使用习惯信息（旅游相关），用于更好地了解和服务于用户。这些数据将有利于我们开发出更符合用户需求的功能、信息和服务。同时，这些信息将用于显示目标广告。
                    p
                        | 我们可能会收集一些特定的关于您所使用的机器的技术信息，这些信息将用于提供更好的用户使用体验，提供更方便的服务，我们所收集的技术信息可能会包括：IP地址、操作系统版本、浏览器版本、显示器分辨率，推荐网站等。
                    p  此外，我们还可能从其他合法来源收到关于您的信息并且将其加入我们的客户信息库。
                li
                    h4 使用个人身份识别信息及其它信息的目的
                    p
                        | 我们利用从所有服务中收集的信息来提供、维护、保护和改进这些服务，同时开发新的服务为您带来更好的用户体验，并提高我们的总体服务品质。经您的许可，我们还会使用此类信息为您提供定制内容，例如向您提供机票、酒店等产品或服务的预定信息等。
                li
                    h4 特别授权
                    p
                        | 您完全理解并不可撤销地、免费地授予游蜗及其关联公司下列权利：
                    p
                        | 游蜗关联公司或合作公司允许游蜗用户登录关联公司或合作公司并使用其服务，游蜗在关联公司或合作公司的任何行为均需遵守该等平台服务协议的约定、平台公布的规则以及有关正确使用平台服务的说明和操作指引。为了实现上述功能，您同意游蜗将您在游蜗的注册信息、交易/支付数据等信息和数据同步至关联公司或合作公司系统并允许其使用。
                    p
                        | 如您以游蜗关联公司或合作公司用户账号和密码登录游蜗，为了实现向您提供同等服务的功能，您同意游蜗将您在关联公司或合作公司账号项下的注册信息、交易/支付数据等信息和数据同步至游蜗系统并进行使用，并且您不会因此追究游蜗以及游蜗关联公司或合作公司的责任。
                    p
                        | 为确保交易安全，允许游蜗及其关联公司对用户信息进行数据分析，并允许游蜗及其关联公司对上述分析结果进行商业利用。
                    p
                        | 您在享受游蜗提供的各项服务的同时，授权并同意接受游蜗向您的电子邮件、手机、通信地址等发送商业信息，包括不限于最新的游蜗产品信息、促销信息等。若您选择不接受游蜗提供的各类信息服务，您可以按照游蜗网提供的相应设置拒绝该类信息服务。
                li
                    h4 我们分享的信息
                    p
                        | 用户在如下情况下，游蜗会遵照您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：
                    ol
                        li 事先获得您的授权；
                        li 只有透露您的个人资料，游蜗或其合作商提供您所要求的产品和服务；
                        li 根据有关的法律法规要求；
                        li 为维护游蜗的合法权益；
                        li
                            | 您同意让第三方共享资料；
                            p  我们发现您违反了游蜗公司服务条款或任何其他产品服务的使用规定。
                li
                    h4 用户的权利
                    p
                        | 游蜗相信用户应该对他/她的个人信息拥有绝对的控制权，用户可以通过“修改个人信息”查看或修改个人信息。用户自愿注册个人信息，用户在注册时提供的所有信息，都是基于自愿，用户有权在任何时候拒绝提供这些信息。
                li
                    h4 安全
                    p
                        | 我们希望我们的用户放心的使用我们的产品和服务，所以我们承诺对您的个人信息予以保密，为此我们设置了安全程序保护您的信息不会被未经授权的访问所窃取。所有的个人信息被加密储存并放置于专业防火墙的内，我们使用SSL加密技术对您所提供的个人信息传输通道进行保护，保证您的个人信息不会在传输途中被窃取。
                    p
                        | 我们选择有信誉的第三方公司或网站作为我们的合作伙伴为用户提供信息和服务，所有游蜗提供的服务都来自第三方合作伙伴，尽管我们只选择有信誉的公司或网站作为我们的合作伙伴，但是每个合作伙伴都会有与游蜗不同的隐私条款，一旦您通过点击进入了合作伙伴的网站，游蜗的隐私条款将不再生效，我们建议您查看该合作伙伴网站的隐私条款，并了解该合作伙伴对于收集、使用、泄露您的个人信息的规定。
                    p
                        | 本隐私条款自2015年7月15日起生效。游蜗将根据法律、法规或政策的变更和修改，或随着游蜗服务范围的扩大，网站内容的变化和技术的更新，隐私声明的内容可由游蜗随时更新，且毋须另行通知。 若您不接受修订后的条款的，应立即停止使用本服务，若您继续使用本服务的，视为接受修订后的所有条款。
    br
    br
    br
    br
    br